<plugin name='resources' version='1.1.6' grailsVersion='1.3 &gt; *'>
  <author>Marc Palmer, Luke Daley</author>
  <authorEmail>marc@grailsrocks.com, ld@ldaley.com</authorEmail>
  <title>Resources</title>
  <description>HTML resource management enhancements to replace g.resource etc.</description>
  <documentation>http://grails-plugins.github.com/grails-resources</documentation>
  <type>ResourcesGrailsPlugin</type>
  <resources>
    <resource>BlueprintResources</resource>
    <resource>JQueryResources</resource>
    <resource>OverrideResources</resource>
    <resource>ResourcesBootStrap</resource>
    <resource>TestOnlyResources</resource>
    <resource>FeedsController</resource>
    <resource>org.grails.plugin.resource.BundleResourceMapper</resource>
    <resource>org.grails.plugin.resource.CSSPreprocessorResourceMapper</resource>
    <resource>org.grails.plugin.resource.CSSRewriterResourceMapper</resource>
    <resource>org.grails.plugin.resource.test.TestResourceMapper</resource>
    <resource>org.grails.plugin.resource.ResourceTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins>
    <provided>
      <plugin group='org.grails.plugins' name='webxml' version='1.4.1' />
    </provided>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>