
.DS_Store
/rest/HelloWorld/nbproject/private/
/rest/HelloWorld/build/
/rest/HelloWorld/dist/
/rest/hellorest/nbproject/private/
/rest/hellorest/build/
/rest/hellorest/dist/
/webservice/webservice/nbproject/private/
/webservice/webservice/build/
/webservice/webservice/dist/
/HelloWorld/nbproject/private/
/HelloWorld/build/
/HelloWorld/dist/