<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
<form name="form1" method="post" action="">
  <p>
  <div align="center">
      <textarea name="txt" cols="120" readonly id="txt"></textarea>
    </div>
  </p>
  <p align="center"><img src="../../../web-app/images/giant-gumball-machine.jpg" width="385" height="316"></p>
  <p align="center">
    <input type="submit" name="btnInsertQuarter" id="btnInsertQuarter" value="Insert Quarter">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" name="btnTurnCrank id="btnTurnCrank" value="Turn Crank">
  </p>
</form>
</body>
</html>