<plugin name='mysql-connectorj' version='5.1.12' grailsVersion='1.2.0 &gt; *'>
  <author>Marcel Overdijk</author>
  <authorEmail>marceloverdijk@gmail.com</authorEmail>
  <title>MySQL Connector/J</title>
  <description>MySQL Connector/J</description>
  <documentation>http://grails.org/plugin/mysql-connectorj</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
  </dependencies>
  <behavior />
</plugin>